@page
@model GroupCCP.Pages.site.Admin.Customers.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_SystemLayout.cshtml";
}


 <section class="content-header container-fluid">
    <div class="container-fluid row">
        <div class="col-md-6">
            <h1 class="m-0 text-dark">@Model.PageTitle</h1>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a asp-page="/site/Index" asp-route-CompanyId="@Model.Company.CompanyId">Dashboard</a></li>
                <li class="breadcrumb-item"><a asp-page="/site/Admin/Index" asp-route-CompanyId="@Model.Company.CompanyId">Admin</a></li>
                <li class="breadcrumb-item"><a asp-page="/site/Admin/Customers/Index" asp-route-CompanyId="@Model.Company.CompanyId">Customers</a></li>
                <li class="breadcrumb-item"><a asp-page="/site/Admin/Customers/Details" asp-route-CompanyId="@Model.Company.CompanyId" asp-route-CustomerId="@Model.ComplaintCustomerInfo.CustomerId">Cust. Details</a></li>
                <li class="breadcrumb-item">Edit</li>
            </ol>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row container-fluid card-body">
            @if (!Model.StaffHasPerm)
            {
                <div class="card card-warning container-fluid">
                    <div class="card-header">
                        Denied Access
                    </div>
                    <div class="card-body">
                        It appears you do not have permission to this page
                        <table class="table table-bordered">
                            <tr>
                                <th>Permission Entity</th>
                                <td>@Model.PermissionEntity</td>
                            </tr>
                            <tr>
                                <th>Permission Required</th>
                                <td>@Model.PermissionRequired</td>
                            </tr>
                        </table>
                        You may need to contact respective admin to add the permission to your role
                    </div>
                </div>
            }
            else
            {
                <div class="card card-primary container-fluid">
                    <div class="card-header">
                        <h3 class="card-title">Customer Table</h3>
                    </div>
              
                    <div class="card-body container-fluid">
                        
                            
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ComplaintCustomerInfo.CustomerId" />
                            <div class="form-group">
                                <label asp-for="ComplaintCustomerInfo.CustomerName" class="control-label"></label>
                                <input asp-for="ComplaintCustomerInfo.CustomerName" class="form-control" />
                                <span asp-validation-for="ComplaintCustomerInfo.CustomerName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ComplaintCustomerInfo.CustomerCell" class="control-label"></label>
                                <input asp-for="ComplaintCustomerInfo.CustomerCell" class="form-control" />
                                <span asp-validation-for="ComplaintCustomerInfo.CustomerCell" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ComplaintCustomerInfo.CustomerNumber" class="control-label"></label>
                                <input asp-for="ComplaintCustomerInfo.CustomerNumber" class="form-control" />
                                <span asp-validation-for="ComplaintCustomerInfo.CustomerNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="card-footer">
                                    <div class="float-right" style="margin:5px">
                                        <input type="submit" value="Update Customer" class="btn btn-sm btn-primary py-0" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
