@page
@model GroupCCP.Pages.site.Admin.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_SystemLayout.cshtml";
}


 <section class="content-header container-fluid">
    <div class="container-fluid row">
        <div class="col-md-6">
            <h1 class="m-0 text-dark">@Model.PageTitle</h1>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a asp-page="/site/Index" asp-route-CompanyId="@Model.Company.CompanyId">Dashboard</a></li>
                <li class="breadcrumb-item"><a asp-page="/site/Admin/Index" asp-route-CompanyId="@Model.Company.CompanyId">Admin</a></li>
                <li class="breadcrumb-item">Customers</li>
            </ol>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row container-fluid card-body">
            @if (!Model.StaffHasPerm)
            {
                <div class="card card-warning container-fluid">
                    <div class="card-header">
                        Denied Access
                    </div>
                    <div class="card-body">
                        It appears you do not have permission to this page
                        <table class="table table-bordered">
                            <tr>
                                <th>Permission Entity</th>
                                <td>@Model.PermissionEntity</td>
                            </tr>
                            <tr>
                                <th>Permission Required</th>
                                <td>@Model.PermissionRequired</td>
                            </tr>
                        </table>
                        You may need to contact respective admin to add the permission to your role
                    </div>
                </div>
            }
            else
            {
                <div class="card card-primary container-fluid">
                    <div class="card-header">
                        <h3 class="card-title">Customer Table</h3>
                    </div>
              
                    <div class="card-body container-fluid">
                        <table class="table table-striped" id="searchTable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ComplaintCustomerInfo[0].CustomerName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ComplaintCustomerInfo[0].CustomerCell)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ComplaintCustomerInfo[0].CustomerNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ComplaintCustomerInfo[0].Company)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                        @foreach (var item in Model.ComplaintCustomerInfo) {
                                <tr>
                                    <td>
                                        <a asp-page="./Details" asp-route-CompanyId="@Model.Company.CompanyId" asp-route-CustomerId="@item.CustomerId">@Html.DisplayFor(modelItem => item.CustomerName)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CustomerCell)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CustomerNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Company.CompanyName)
                                    </td>
                                </tr>
                        }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
