@page
@model GroupCCP.Pages.site.Admin.FollowUpTypes.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_SystemLayout.cshtml";
}


 <section class="content-header container-fluid">
    <div class="container-fluid row">
        <div class="col-md-6">
            <h1 class="m-0 text-dark">@Model.PageTitle</h1>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a asp-page="/site/Index" asp-route-CompanyId="@Model.Company.CompanyId">Dashboard</a></li>
                <li class="breadcrumb-item"><a asp-page="/site/Admin/Index" asp-route-CompanyId="@Model.Company.CompanyId">Admin</a></li>
                <li class="breadcrumb-item">FollowUpTypes</li>
            </ol>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row container-fluid card-body">
            @if (!Model.StaffHasPerm)
            {
                <div class="card card-warning container-fluid">
                    <div class="card-header">
                        Denied Access
                    </div>
                    <div class="card-body">
                        It appears you do not have permission to this page
                        <table class="table table-bordered">
                            <tr>
                                <th>Permission Entity</th>
                                <td>@Model.PermissionEntity</td>
                            </tr>
                            <tr>
                                <th>Permission Required</th>
                                <td>@Model.PermissionRequired</td>
                            </tr>
                        </table>
                        You may need to contact respective admin to add the permission to your role
                    </div>
                </div>
            }
            else
            {
                <div class="card card-default container-fluid">
                    <div class="card-header">
                        <h3 class="card-title">FollowUp Types Table</h3>
                        @if (Model.FollowUpTypesCreatePerm)
                        {
                            <a asp-page="./Create" asp-route-CompanyId="@Model.Company.CompanyId"><div class="nav-link float-right btn btn-info  text-white">New FollowUpType</div></a>      
                        }
                    </div>
              
                    <div class="card-body container-fluid">
                        <table class="table table-striped" id="searchTable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FollowUpCalls[0].FollowUpType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FollowUpCalls[0].FollowUpTime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FollowUpCalls[0].FollowUpMandatory)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FollowUpCalls[0].Company)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                        @foreach (var item in Model.FollowUpCalls) {
                                <tr>
                                    
                                    <td>
                                        <a asp-page="./Details" asp-route-CompanyId="@Model.Company.CompanyId" asp-route-FollowUpTypeId="@item.FollowUpId">@Html.DisplayFor(modelItem => item.FollowUpType)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FollowUpTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FollowUpMandatory)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Company.CompanyName)
                                    </td>
                                </tr>
                        }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

