@page
@model GroupCCP.Pages.Permission.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Permissions[0].Entity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permissions[0].Permission)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Permissions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Entity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Permission)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PermissionId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PermissionId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PermissionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
