@page
@model GroupCCP.Pages.ComplaintCorrectives.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ComplaintCorrectiveInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCorrectiveInfo.ComplaintProductComponent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCorrectiveInfo.ComplaintProductComponent.ProductID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCorrectiveInfo.ComplaintSubComponent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCorrectiveInfo.ComplaintSubComponent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCorrectiveInfo.Log)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCorrectiveInfo.Log.LogId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCorrectiveInfo.RouteCause)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCorrectiveInfo.RouteCause)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCorrectiveInfo.CorrectiveAction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCorrectiveInfo.CorrectiveAction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCorrectiveInfo.CorrectiveCustomerExplanation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCorrectiveInfo.CorrectiveCustomerExplanation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCorrectiveInfo.StaffAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCorrectiveInfo.StaffAccount.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCorrectiveInfo.CorrectiveInfoDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCorrectiveInfo.CorrectiveInfoDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCorrectiveInfo.CorrectiveDiagnosisTimeTaken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCorrectiveInfo.CorrectiveDiagnosisTimeTaken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCorrectiveInfo.CorrectiveRectifyTimeTaken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCorrectiveInfo.CorrectiveRectifyTimeTaken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCorrectiveInfo.CorrectivePartsCostKSH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCorrectiveInfo.CorrectivePartsCostKSH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCorrectiveInfo.CorrectiveOtherCostKSH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCorrectiveInfo.CorrectiveOtherCostKSH)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ComplaintCorrectiveInfo.CorrectiveId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
