@page
@model GroupCCP.Pages.site.Admin.LevelCategories.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_SystemLayout.cshtml";
}


 <section class="content-header container-fluid">
    <div class="container-fluid row">
        <div class="col-md-6">
            <h1 class="m-0 text-dark">@Model.PageTitle</h1>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a asp-page="/site/Index" asp-route-CompanyId="@Model.Company.CompanyId">Dashboard</a></li>
                <li class="breadcrumb-item"><a asp-page="/site/Admin/Index" asp-route-CompanyId="@Model.Company.CompanyId">Admin</a></li>
                <li class="breadcrumb-item"><a asp-page="/site/Admin/LevelCategories/Index" asp-route-CompanyId="@Model.Company.CompanyId">Level Cats.</a></li>
                <li class="breadcrumb-item"><a asp-page="/site/Admin/LevelCategories/Details" asp-route-CompanyId="@Model.Company.CompanyId" asp-route-LevelCategoryId="@Model.LevelCategory.LevelCategoryId">Cat. Details</a></li>
                <li class="breadcrumb-item">Delete</li>
            </ol>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row container-fluid card-body">
            @if (!Model.StaffHasPerm)
            {
                <div class="card card-warning container-fluid">
                    <div class="card-header">
                        Denied Access
                    </div>
                    <div class="card-body">
                        It appears you do not have permission to this page
                        <table class="table table-bordered">
                            <tr>
                                <th>Permission Entity</th>
                                <td>@Model.PermissionEntity</td>
                            </tr>
                            <tr>
                                <th>Permission Required</th>
                                <td>@Model.PermissionRequired</td>
                            </tr>
                        </table>
                        You may need to contact respective admin to add the permission to your role
                    </div>
                </div>
            }
            else
            {
                <div class="card card-primary container-fluid">
                    <div class="card-header">
                        <h3 class="card-title">Type Table</h3>
                    </div>
              
                    <div class="card-body container-fluid">
                        <h3>Are you sure you want to delete this?
                            <a asp-page="./Edit" asp-route-CompanyId="@Model.Company.CompanyId" asp-route-LevelCategoryId="@Model.LevelCategory.LevelCategoryId"><div class="nav-link float-right btn btn-info  text-white">Edit Instead</div></a>   
                        </h3>
                        <div>
                            <h4>Levels</h4>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.LevelCategory.CategorName)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.LevelCategory.CategorName)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.LevelCategory.Company)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.LevelCategory.Company.CompanyName)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.LevelCategory.ParentCategory)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.LevelCategory.ParentCategory.CategorName)
                                </dd>
                            </dl>

                            <form method="post">
                                <input type="hidden" asp-for="LevelCategory.LevelCategoryId" />
                                <div class="card-footer">
                                    <div class="float-right" style="margin:5px">
                                        <input type="submit" value="Delete" class="btn btn-sm btn-danger py-0" />
                                    </div>
                                </div>
                            </form>    
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>