@page
@model GroupCCP.Pages.site.Logs.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "/Pages/Shared/_SystemLayout.cshtml";
}
<div class="card container-fluid">
    <div class="card-header">
        <h4 class="float-left">Log Assignment</h4>
        <div class="nav-link float-right btn btn-info  text-white"><a asp-page="Assignment/Create" asp-route-CompanyId="@Model.Company.CompanyId" asp-route-LogType="@Model.LogTypeId" asp-route-LogId="@Model.ComplaintLogDetail.LogId" class="text-white">Assign</a></div>
    </div>
    <div class="card-body">
        <h1>Delete</h1>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>ComplaintLogDetail</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ComplaintLogDetail.Customers)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ComplaintLogDetail.Customers.CustomerId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ComplaintLogDetail.CustomerComplaint)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ComplaintLogDetail.CustomerComplaint)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ComplaintLogDetail.CustomerRequest)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ComplaintLogDetail.CustomerRequest)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ComplaintLogDetail.Means)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ComplaintLogDetail.Means.Means)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ComplaintLogDetail.Level)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ComplaintLogDetail.Level.LevelName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ComplaintLogDetail.Status)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ComplaintLogDetail.Status.Status)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ComplaintLogDetail.StatusClosedDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ComplaintLogDetail.StatusClosedDate)
                </dd>
            </dl>
    
            <form method="post">
                <input type="hidden" asp-for="ComplaintLogDetail.LogId" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-page="./Index">Back to List</a>
            </form>
        </div>
    </div>
</div>