@page
@model GroupCCP.Pages.site.Logs.IndexModel

@{
    ViewData["Logs"] = "Index";
    ViewData["Title"] = Model.PageTitle;
    ViewData["PageTitle"] = Model.PageTitle;
    Layout = "/Pages/Shared/_SystemLayout.cshtml";
}
 <section class="content-header container-fluid">
    <div class="container-fluid row">
        <div class="col-md-6">
            <h1 class="m-0 text-dark">@ViewData["PageTitle"]</h1>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a asp-page="/site/Index" asp-route-CompanyId="@Model.Company.CompanyId">Dashboard</a></li>
                <li class="breadcrumb-item">Logs</li>
            </ol>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div style=" width: 100%">
            <partial name="menu" />
        </div>
        <div class="row container-fluid card-body">
            @if (!Model.StaffHasPerm)
            {
                <div class="card card-warning container-fluid">
                    <div class="card-header">
                        Denied Access
                    </div>
                    <div class="card-body">
                        It appears you do not have permission to this page
                        <table class="table table-bordered">
                            <tr>
                                <th>Permission Entity</th>
                                <td>@Model.PermissionEntity</td>
                            </tr>
                            <tr>
                                <th>Permission Required</th>
                                <td>@Model.PermissionRequired</td>
                            </tr>
                        </table>
                        You may need to contact respective admin to add the permission to your role
                    </div>
                </div>
            }
            else
            {
                <div class="card container-fluid">
                    <div class="card-body" style="overflow-x: auto">
                        <table class="table table-striped" id="LogTable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ComplaintLogDetail[0].LogId)
                                    </th>
                                    <th>
                                        Customer
                                    </th>
                                    <th>
                                        Reg
                                    </th>
                                    <th>
                                        Means
                                    </th>
                                    <th>
                                        Level
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Priority
                                    </th>
                                    <th>
                                        Submit Date
                                    </th>
                                    <th>
                                        Close Date
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                        @foreach (var item in Model.ComplaintLogDetail) {
                                <tr>
                                    <td>
                                        <a asp-page="./Details" asp-route-CompanyId="@Model.Company.CompanyId" asp-route-LogType="@Model.LogTypeId" asp-route-Logid="@item.LogId">Log @Html.DisplayFor(modelItem => item.LogId)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Customers.CustomerName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RegistrationNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Means.Means)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Level.LevelName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Priority.PriorityName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StatusSubmitDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StatusClosedDate)
                                    </td>
                                </tr>
                        }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            </div>
    </div>
</section>
