@page
@model GroupCCP.Pages.ComplaintAssignments.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintAssignment[0].Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintAssignment[0].Log)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintAssignment[0].AssignmentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ComplaintAssignment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Log.LogId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignmentDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AssignmentId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AssignmentId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AssignmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
