@page
@model GroupCCP.Pages.site.IndexModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageTitle"] = "Dashboard";
    Layout = "/Pages/Shared/_SystemLayout.cshtml";

    ViewData["MyLogs"] = Model.MyAssignedLogs.Count();
    ViewData["ResolvedLogs"] = Model.MyResolvedLogs.Count();
    ViewData["WIPLogs"] = Model.MyWIPLogs.Count();
    ViewData["UnAttendedLogs"] = Model.MyUnAttendedLogs.Count();

    ViewData["Day1"] = Model.WeekResults[0];
    ViewData["Day2"] = Model.WeekResults[1];
    ViewData["Day3"] = Model.WeekResults[2];
    ViewData["Day4"] = Model.WeekResults[3];
    ViewData["Day5"] = Model.WeekResults[4];
    ViewData["Day6"] = Model.WeekResults[5];
    ViewData["Day7"] = Model.WeekResults[6];
    ViewData["Day0"] = Model.WeekResults[7];

    ViewData["LevelLabels"] = Model.LevelLabels;
    ViewData["LevelData"] = Model.LevelData;


    
}
 <section class="content-header container-fluid">
    <div class="container-fluid row">
        <div class="col-md-6">
            <h1 class="m-0 text-dark">@ViewData["PageTitle"]</h1>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a asp-page="/site/Index" asp-route-CompanyId="@Model.Company.CompanyId">Dashboard</a></li>
            </ol>
        </div>
    </div>
</section>
@if (!Model.StaffHasPerm)
{
    <div style="margin-bottom: 10px; width: 100%">
        <partial name="./Errors/permission.cshtml" />
    </div>
}
else
{
    <div class="container-fluid row">
        <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
            <h3>@Model.MyAssignedLogs.Count</h3>
            <p>My Logs</p>
            </div>
            <div class="icon">
            <i class="ion ion-bag"></i>
            </div>
        </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
            <h3>@Model.MyResolvedLogs.Count</h3>

            <p>Resolved Logs</p>
            </div>
            <div class="icon">
            <i class="ion ion-stats-bars"></i>
            </div>
        </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
            <h3>@Model.MyWIPLogs.Count</h3>

            <p>Work In Progress</p>
            </div>
            <div class="icon">
            <i class="ion ion-person-add"></i>
            </div>
        </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
            <h3>@Model.MyUnAttendedLogs.Count</h3>

            <p>Unattended</p>
            </div>
            <div class="icon">
            <i class="ion ion-pie-graph"></i>
            </div>
        </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="container-fluid row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                </div>
                </div>
                <div class="card-body">
                <div class="d-flex">
                    <span class="text-muted">My Logs since last week</span>
                </div>
                <!-- /.d-flex -->

                <div class="position-relative mb-4">
                    <canvas id="myChart" height="100"></canvas>
                </div>

                
                </div>
            </div>
            <div class="card">
                <div class="card-header border-0">
                    <div class="d-flex">
                        <span class="text-muted">Levels in Paths Logs</span>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped" id="searchTable">
                        <thead>
                            <th>Level</th>
                            <th>Open</th>
                            <th>Assigned</th>
                            <th>WIP</th>
                            <th>Resolved</th>
                            <th>Closed</th>
                            <th class="bg-info">TotaL</th>
                        </thead>
                        <tbody>
                            @foreach(var level in Model.LevelLogs)
                            {
                                <tr>
                                    <td>
                                        @level[0]
                                    </td>
                                    <td>
                                        @level[2]
                                    </td>
                                    <td>
                                        @level[3]
                                    </td>
                                    <td>
                                        @level[4]
                                    </td>
                                    <td>
                                        @level[5]
                                    </td>
                                    <td>
                                        @level[6]
                                    </td>
                                    <td>
                                        @level[1]
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        <!-- /.card -->
        </div>
        <!-- /.col-md-6 -->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                </div>
                </div>
                <div class="card-body">

                    <div class="position-relative mb-4">
                        <canvas id="myChart2" width="80%"></canvas>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                </div>
                </div>
                <div class="card-body">

                    <div class="position-relative mb-4">
                        <canvas id="myChart3" width="80%"></canvas>
                    </div>
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col-md-6 -->
    </div>
} 