@page
@model GroupCCP.Pages.site.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "/Pages/Shared/_SystemLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ComplaintCustomerInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCustomerInfo.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCustomerInfo.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCustomerInfo.CustomerCell)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCustomerInfo.CustomerCell)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCustomerInfo.CustomerNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCustomerInfo.CustomerNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCustomerInfo.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCustomerInfo.Company.CompanyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ComplaintCustomerInfo.CustomerId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
