@page
@model GroupCCP.Pages.PermissionAssignments.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PermissionAssignment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PermissionAssignment.Roles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PermissionAssignment.Roles.RoleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PermissionAssignment.Permissions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PermissionAssignment.Permissions.PermissionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PermissionAssignment.AssignmentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
