@page
@model GroupCCP.Pages.site.Admin.Timeline.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_SystemLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Timelines</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timelines.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timelines.Priority.PriorityId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timelines.OverdueAssignedHrs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timelines.OverdueAssignedHrs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timelines.OverdueAssignedReminderHrs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timelines.OverdueAssignedReminderHrs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timelines.OverdueAssignedEscallate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timelines.OverdueAssignedEscallate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timelines.OverdueResolvedHrs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timelines.OverdueResolvedHrs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timelines.OverdueResolvedReminderHrs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timelines.OverdueResolvedReminderHrs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timelines.OverdueResolvedEscallate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timelines.OverdueResolvedEscallate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timelines.OverdueResolvedClosedHrs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timelines.OverdueResolvedClosedHrs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timelines.OverdueResolvedClosedReminderHrs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timelines.OverdueResolvedClosedReminderHrs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timelines.OverdueClosedEscallate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timelines.OverdueClosedEscallate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timelines.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timelines.Company.CompanyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Timelines.TimeLineId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
