@page
@model GroupCCP.Pages.site.Admin.Timeline.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_SystemLayout.cshtml";
}


 <section class="content-header container-fluid">
    <div class="container-fluid row">
        <div class="col-md-6">
            <h1 class="m-0 text-dark">@Model.PageTitle</h1>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a asp-page="/site/Index" asp-route-CompanyId="@Model.Company.CompanyId">Dashboard</a></li>
                <li class="breadcrumb-item"><a asp-page="/site/Admin/Index" asp-route-CompanyId="@Model.Company.CompanyId">Admin</a></li>
                <li class="breadcrumb-item">Timelines</li>
            </ol>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row container-fluid card-body">
            @if (!Model.StaffHasPerm)
            {
                <div class="card card-warning container-fluid">
                    <div class="card-header">
                        Denied Access
                    </div>
                    <div class="card-body">
                        It appears you do not have permission to this page
                        <table class="table table-bordered">
                            <tr>
                                <th>Permission Entity</th>
                                <td>@Model.PermissionEntity</td>
                            </tr>
                            <tr>
                                <th>Permission Required</th>
                                <td>@Model.PermissionRequired</td>
                            </tr>
                        </table>
                        You may need to contact respective admin to add the permission to your role
                    </div>
                </div>
            }
            else
            {
                <div class="card card-default container-fluid">
                    <div class="card-header">
                        <h3 class="card-title">Timelines Table</h3>
                        @if (Model.TimelineCreatePerm)
                        {
                            <a asp-page="./Create" asp-route-CompanyId="@Model.Company.CompanyId"><div class="nav-link float-right btn btn-info  text-white">New Timeline</div></a>      
                        }
                    </div>
              
                    <div class="card-body container-fluid" style="overflow-x: auto">
                        <table class="table table-striped" id="searchTable">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Timelines[0].Priority)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Timelines[0].OverdueAssignedHrs)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Timelines[0].OverdueAssignedReminderHrs)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Timelines[0].OverdueAssignedEscallate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Timelines[0].OverdueResolvedHrs)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Timelines[0].OverdueResolvedReminderHrs)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Timelines[0].OverdueResolvedEscallate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Timelines[0].OverdueResolvedClosedHrs)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Timelines[0].OverdueResolvedClosedReminderHrs)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Timelines[0].OverdueClosedEscallate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Timelines[0].Company)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                            @foreach (var item in Model.Timelines) {
                                    <tr>
                                        <td>
                                            <a asp-page="./Details" asp-route-CompanyId="@Model.Company.CompanyId" asp-route-TimelineId="@item.TimeLineId">@Html.DisplayFor(modelItem => item.Priority.PriorityName)</a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OverdueAssignedHrs)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OverdueAssignedReminderHrs)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OverdueAssignedEscallate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OverdueResolvedHrs)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OverdueResolvedReminderHrs)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OverdueResolvedEscallate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OverdueResolvedClosedHrs)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OverdueResolvedClosedReminderHrs)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OverdueClosedEscallate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Company.CompanyName)
                                        </td>
                                    </tr>
                            }
                                </tbody>
                            </table>

                    </div>
                </div>
            }
        </div>
    </div>
</section>