@page
@model GroupCCP.Pages.site.Admin.Companies.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_SystemLayout.cshtml";
}


 <section class="content-header container-fluid">
    <div class="container-fluid row">
        <div class="col-md-6">
            <h1 class="m-0 text-dark">@Model.PageTitle</h1>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a asp-page="/site/Index" asp-route-CompanyId="@Model.Company.CompanyId">Dashboard</a></li>
                <li class="breadcrumb-item"><a asp-page="/site/Admin/Index" asp-route-CompanyId="@Model.Company.CompanyId">Admin</a></li>
                <li class="breadcrumb-item"><a asp-page="/site/Admin/Companies/Index" asp-route-CompanyId="@Model.Company.CompanyId">Companiess</a></li>
                <li class="breadcrumb-item">Details</li>
            </ol>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row container-fluid card-body">
            @if (!Model.StaffHasPerm)
            {
                <div class="card card-warning container-fluid">
                    <div class="card-header">
                        Denied Access
                    </div>
                    <div class="card-body">
                        It appears you do not have permission to this page
                        <table class="table table-bordered">
                            <tr>
                                <th>Permission Entity</th>
                                <td>@Model.PermissionEntity</td>
                            </tr>
                            <tr>
                                <th>Permission Required</th>
                                <td>@Model.PermissionRequired</td>
                            </tr>
                        </table>
                        You may need to contact respective admin to add the permission to your role
                    </div>
                </div>
            }
            else
            {
                <div class="card card-primary container-fluid">
                    <div class="card-header">
                        <h3 class="card-title">Brand Table</h3>
                    </div>
              
                    <div class="card-body container-fluid">

                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Companies.CompanyName)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Companies.CompanyName)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Companies.CompanyNameAbbreviation)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Companies.CompanyNameAbbreviation)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Companies.CompanyCreateDate)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Companies.CompanyCreateDate)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Companies.CompanyActive)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Companies.CompanyActive)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Companies.Group)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Companies.Group.GroupName)
                            </dd>
                        </dl>
                         @if (Model.CompanyDeletePerm)
                        {
                            <a asp-page="./Delete" asp-route-CompanyId="@Model.Company.CompanyId" asp-route-SelectCompanyId="@Model.Companies.CompanyId"><div class="nav-link float-right btn btn-danger  text-white">Delete Company</div></a>   
                        }
                        @if (Model.CompanyEditPerm)
                        {
                            <a asp-page="./Edit" asp-route-CompanyId="@Model.Company.CompanyId" asp-route-SelectCompanyId="@Model.Companies.CompanyId"><div class="nav-link float-right btn btn-info  text-white">Edit Company</div></a>   
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>