@page
@model GroupCCP.Pages.ComplaintLogDetails.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ComplaintLogDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintLogDetail.Customers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintLogDetail.Customers.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintLogDetail.CustomerComplaint)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintLogDetail.CustomerComplaint)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintLogDetail.CustomerRequest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintLogDetail.CustomerRequest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintLogDetail.ComplaintVehicleInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintLogDetail.ComplaintVehicleInfo.VehicleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintLogDetail.VehicleMileage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintLogDetail.VehicleMileage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintLogDetail.Means)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintLogDetail.Means.Means)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintLogDetail.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintLogDetail.Level.LevelName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintLogDetail.VehicleOnSite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintLogDetail.VehicleOnSite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintLogDetail.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintLogDetail.Status.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintLogDetail.StaffAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintLogDetail.StaffAccount.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintLogDetail.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintLogDetail.Priority.PriorityId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintLogDetail.StatusSubmitDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintLogDetail.StatusSubmitDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintLogDetail.StatusClosedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintLogDetail.StatusClosedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintLogDetail.LogCustomerSatisfied)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintLogDetail.LogCustomerSatisfied)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintLogDetail.LogPreventiveAction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintLogDetail.LogPreventiveAction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintLogDetail.LogKaizenAction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintLogDetail.LogKaizenAction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintLogDetail.LogKaizenImplememntDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintLogDetail.LogKaizenImplememntDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ComplaintLogDetail.LogId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
