@page
@model GroupCCP.Pages.ComplaintCustomerInfos.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ComplaintCustomerInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCustomerInfo.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCustomerInfo.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCustomerInfo.CustomerCell)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCustomerInfo.CustomerCell)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCustomerInfo.CustomerNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCustomerInfo.CustomerNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCustomerInfo.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCustomerInfo.Company.CompanyName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ComplaintCustomerInfo.CustomerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
